@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$headerColor: rgba(233,24,160, 0.3);
$navColor: #3c2f37;
$aboutTextColor:#3b102c;

@mixin flexRow{
    display:flex;
    flex-wrap:row nowrap;
}

@mixin fontRoboto{
    font-family: 'Roboto', sans-serif;
}

@mixin cursiveFont{
    font-family: 'Cedarville Cursive', cursive;
}

@mixin cursiveFontTwo{
    font-family: 'Dancing Script', cursive;
}

*{
    ::before,::after{
        box-sizing:border-box;
    }
}

body{
    margin:0;
    padding:0;
    font-size:1rem;
}

div{
    border:0px solid black;
}

nav{
    .nav{
        @include flexRow;
        min-height:50px;

        .links{
            flex-basis:100%;
            background-color:$navColor;

            .nav-ml{
                list-style-type: none;
                @include fontRoboto;
                li{
                    display:inline;
                    margin-left:50px;
                    
                    a{
                        color:#fff;
                        text-decoration:none;
                    }
                }
                li:first-child{
                    margin-left:300px;
                }
            }

            .nav-mx{
                display:none;
            }

            .dropdown-nav{
                display:none;
            }
        }
    }
}

header{
    .header{
        @include flexRow;
        background:url("../images/header.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        height:450px;

        .header-content{
            flex-basis:100%;
            background-color:$headerColor;
            
            img{
                width:20%;
                display:block;
                margin-left:auto;
                margin-right:auto;
            }

            p{
                text-align:center;
                @include cursiveFont;
                font-weight:bolder;
                font-size:2rem;
                border:1px solid #fff;
                background-color:#fff;
                margin-top:0;
            }
        }
    }
}

section{
    background-color:#d7ccd3;
    .about{
        @include flexRow;
        margin-left:40px;
        margin-right:40px;
        min-height:400px;

        .content{
            flex-basis:60%;
            background-color:#fff;

            h1{
                @include cursiveFontTwo;
                text-align:center;
                font-size:6rem;
            }

            P{
                @include fontRoboto;
                color:$aboutTextColor;
                text-align:center;
                font-weight:bold;
                font-size:1.5rem;
                margin-top:-60px;
            }

            span{
                display:block;
                @include fontRoboto;
                font-size:1.3rem;
                margin-top:-10px;
                text-align:center;
                margin-left:100px;
                margin-right:100px;
            }
        }

        .image{
            flex-basis:40%;
            background:url("../images/boldwoman.jpg");
            background-size:cover;

            .content-img{
                display:none;
            }
        }

    }

    .books{
        @include flexRow;
        min-height:100px;
        margin-left:40px;
        margin-right:40px;

        .content{
            flex-basis:25%;
            background-color:#fff;

            h1{
                @include fontRoboto;
                color:$aboutTextColor;
                margin-left:20px;
                font-weight:bold;
                font-size:3rem;
            }

            h3{
                @include cursiveFontTwo;
                font-size:2rem;
                color:$aboutTextColor;
                font-weight:bold;
                margin-left:20px;
                margin-top:-20px;
            }

            p{
                font-weight:bolder;
                @include fontRoboto;
                font-size:1rem;
                margin-left:10px;
                margin-top:-20px;
                color:$aboutTextColor;
                padding:10px;
            }
        }

        .image{
            flex-basis:25%;
            background-color:#fff;

            img{
                width:100%;
                margin-top:50px;
            }

            p{
                text-align:center;
                a{
                    text-decoration:none;
                    font-size:1rem;
                    color:$aboutTextColor;
                    font-weight:bold;
                    @include fontRoboto;
                }
            }
        }

    }

    .videos{
        @include flexRow;
        min-height:100px;
        margin-left:40px;
        margin-right:40px;
        background-color:#fff;

        .content{
            flex-basis:100%;
            

            h1{
                color:$aboutTextColor;
                @include cursiveFontTwo;
                font-weight:bolder;
                text-align:center;
                font-size:4rem;
                margin-bottom:0;
            }
        }

        .visual{
            flex-basis:50%;
            height:450px;

            iframe{
                width:80%;
                display:block;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
}

footer{
    background-color:$navColor;

    .connect{
        @include flexRow;
        min-height:1000px;

        .content{
            flex-basis:30%;
            color:#fff;

            h2{
                @include fontRoboto;
                font-weight:lighter;
                font-size:1.1rem;
                margin-left:40px;
                margin-top:250px;
            }

            p{
                @include cursiveFontTwo;
                font-weight:bolder;
                font-size:3rem;
                margin-left:40px;
                margin-top:-15px;
            }

            span{
                @include fontRoboto;
                display:block;
                font-weight:lighter;
                padding:10px;
                font-size:1.3rem;
                margin-left:40px;
                margin-top:-40px;
            }
        }

        .text-image{
            flex-basis:70%;


            .text-cover{
                @include flexRow;
                width:70%;
                margin:0 auto;
                background-color:#fff;
                min-height:100px;

                .image{
                    flex-basis:50%;

                    img{
                        width:100%;
                        height:100%;
                    }
                }

                .content{
                    flex-basis:50%;

                    p{
                        text-align:center;
                        padding:20px;
                        @include fontRoboto;
                        font-weight:bold;
                        font-size:1rem;
                        color:#000000;
                        margin-top:40px;
                    }

                    button{
                        background-color:$aboutTextColor;
                        padding:10px;
                        border-radius:10px;
                        display:block;
                        margin-left:auto;
                        margin-right:auto;
                        border:1px solid $aboutTextColor;

                        a{
                            text-decoration:none;
                            color:#fff;
                            font-weight:bold;
                            @include fontRoboto;
                        }
                    }

                }
            }

            .text-cover:first-child{
                margin-top:30px;
            }
        }

        .sx-content{
            display:none;
        }
    }

    .services{
        @include flexRow;
        min-height:800px;
        background-color:#fff;
        
        .content{
            flex-basis:50%;

            h1{
                @include cursiveFontTwo;
                text-align:center;
                margin-top:40px;
                font-size:4rem;
                font-weight:bolder;
                color:#3b102c;
                margin-bottom:0;
            }

            p{
                @include fontRoboto;
                text-align:center;
                font-weight:bold;
                font-size:1.5rem;
            }

            span{
                display:block;
                text-align:center;
                font-weight:lighter;
                padding:10px;
                color:#3b102c;
                font-size:1.4rem;
                @include fontRoboto;
            }
        }

        .image{
            flex-basis:50%;
            
            img{
                width:100%;
                height:100%;
            }
        }
    }

    .contact{
        @include flexRow;
        background-color:#fff;
        min-height:500px;

        .image{
            flex-basis:50%;

            img{
            width:100%;
            height:100%;
            }
        }

        .content{
            flex-basis:50%;

            h1{
                @include cursiveFontTwo;
                color:$aboutTextColor;
                text-align:center;
                font-size:3.5rem;
                margin-top:60px;
            }

            img{
                display:block;
                margin-left:auto;
                margin-right:auto;
                width:25%;
            }

            .content-container{
                width:60%;
                @include flexRow;
                margin:0 auto;
                min-height:50px;

                .image{
                    flex-basis:30%;

                    img{
                    width:70%;
                    height:70px;
                    }
                }

                .content{
                    flex-basis:70%;

                    p{
                        @include fontRoboto;
                        color:$aboutTextColor;
                        font-size:0.9rem;
                        font-weight:bold;
                    }

                    a{
                        color:#000000;
                        display:block;
                        @include fontRoboto;
                    }
                }
            }

            
        }

        
    }
}

@media only screen and (max-width: 767px){


    div{
        border:0px solid black;
    }

    nav{
        .nav{
            .links{
                .nav-ml{
                    display:none;
                }

                .nav-mx{
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                    height:100%;
                }

                .dropdown-nav{
                    display:none;
                    position:absolute;
                    background-color:$aboutTextColor;
                    min-width:100%;
                    z-index:1;
                    min-height:100px;

                    .nav-ms{
                        display:block;
                        list-style-type:none;
                        padding:0;
                        margin:0;

                        li{
                            
                            text-align:center;
                            margin-top:10px;
                            
                            a{
                                text-decoration:none;
                                color:#fff;
                                @include fontRoboto;
                            }

                         

                        }

                        
                    }
                }
            }
        }

        .nav:hover .dropdown-nav{
            display:block;
        }
    }

    header{
        .header{
            height:250px;
            .header-content{

                img{
                    margin-top:0;
                    
                }

                p{
                    font-size:1.5rem;
                }
            }
        }
    }

    section{
        .about{
            height:400px;
            .content{
                display:none;
            }

            .image{
                flex-basis:100%;
                background-image:url("../images/shelf.jpg");

                .content-img{
                    display:block;
                    width:100%;
                    height:400px;
                    background-color:rgba(255,255,255,0.3);

                    .content-contain{
                        width:70%;
                        min-height:250px;
                        background-color:#fff;
                        margin:0 auto;
                        margin-top:70px;

                        h1{
                            @include fontRoboto;
                            text-align:center;
                            margin-top:10px;
                            color:#3b102c;
                            font-weight:bold;
                            font-size:3rem;
                        }

                        p{
                            padding:10px;
                            @include fontRoboto;
                            font-size:1rem;
                            text-align:center;
                        }

                        span{
                            @include cursiveFontTwo;
                            display:block;
                            text-align:center;
                            color:#3b102c;
                            font-weight:bold;
                            font-size:1rem;

                        }
                    }
                }
            }
        }

        .books{
            flex-wrap:wrap;

            .content{
                flex-basis:100%;

                h1{
                    text-align:center;
                }

                h3{
                    text-align:center;
                }

                p{
                    text-align:center;
                }
            }

            .image{
                flex-basis:100%;

                img{
                    width:50%;
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }

        .videos{
            flex-wrap:wrap;

            .content{
                h1{
                    font-size:3rem;
                }
            }

            .visual{
                flex-basis:100%;
            }
        }
    }

    footer{
        .connect{
            flex-wrap:wrap;

            .content{
                flex-basis:100%;

                h2{
                    margin-top:20px;
                    text-align:center;
                    font-size:1.3rem;
                    margin-left:0;
                }

                p{
                    text-align:center;
                    margin-left:0;
                }

                span{
                    text-align:center;
                    font-size:1rem;
                    margin-left:0;
                }
            }

            .text-image{
                flex-basis:100%;

                .text-cover{
                    height:300px;
                    .image{
                        img{
                            height:100%;
                        }
                    }

                    .content{
                        p{
                            padding:0;
                            font-size:0.7rem;
                            text-align:center;
                            margin-left:0;
                            margin-top:80px;
                        }

                        button{
                            padding:5px;

                            a{
                                font-weight:lighter;
                                font-size:0.7rem;
                            }
                        }
                    }
                }
                .text-cover:first-child{
                    margin-top:0;
                }
            }
            .sm-content{
                display:none;
            }
        }

        .services{
            min-height:400px;
            .content{
                h1{
                    font-size:2rem;
                }

                p{
                    font-size:1rem;
                    font-weight:lighter;
                }

                span{
                    font-size:1rem;
                    padding:5px;
                }
            }

        }

        .contact{
            height:250px;
            background-color:#dbdbde;

            .image{
                display:none;
            }

            .content{
                flex-basis:100%;
                h1{
                    font-size:2rem;
                    margin-top:20px;
                    
                }

                img{
                    width:100%;
                    height:100px;
                }
            

            .content-container{
                width:80%;
                flex-wrap:wrap;


                .content{
                    flex-basis:100%;

                    p{
                        text-align:center;
                    }

                    a{
                        text-align:center;
                    }

                }
                }

            }
        }
    }

}

@media only screen and (max-width:426px){

    div{
        border:0px solid black;
    }

    section{
        .about{
            .image{
                .content-img{
                    .content-contain{
                        h1{
                            font-size:1.5rem;
                        }
                    }
                }
            }
        }
    }


    footer{
        .connect{
            .content{
                h2{
                    margin-top:180px;
                }
            }

            .text-image{
                .text-cover{
                    height:200px;
                    .content{

                        p{
                            font-size:0.5rem;
                            margin-top:40px;
                        }
                        button{
                            padding:2px;
                            a{
                                font-size:0.5rem;
                            }
                        }
                    }
                }
            }
        }

        .services{
            min-height:100px;
            .content{
                flex-basis:100%;
                
            }

            .image{
                display:none;
            }
        }
    }
}

@media only screen and (max-width:321px){
    section{
        .about{
            .image{
                .content-img{
                    .content-contain{
                        span{
                            display:none;
                        }
                    }
                }
            }
        }
    }
}
